<% if @kitten.errors.any? %>
  <div>
    <h2>
      <%= pluralize(@kitten.errors.count, "error") %> occured while updating your kitten
    </h2>
    <ul>
      <% @kitten.errors.full_messages.each do |msg| %>
        <li>
        <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "form" %>
